@using Website.Models.ViewModels
@model Website.Models.ContactModel

<main class="page hire-me-page">
    <section class="portfolio-block hire-me">
        <div class="container">
            <div class="heading">
                <h2>Contact Me</h2>
                <p>
                    You can use the form to send me a message
                    <br>Or you can find me on any social platforms listed below
                </p>
            </div>
            <form asp-action="ContactMe">
                @if (TempData["UserMessage"] != null)
                {
                    var message = (MessageViewModel)TempData["UserMessage"];
                    <div class="alert @message.CssClassName">
                        <strong>@message.Title</strong>
                        @message.Message
                    </div>
                }
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group"><label asp-for="Name">Name</label><input asp-for="Name" class="form-control"></div>
                <div class="form-group"><label asp-for="Email">Email</label><input asp-for="Email" class="form-control" type="email"></div>
                <div class="form-group"><label asp-for="Message">Message</label><textarea asp-for="Message" class="form-control"></textarea></div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col"><button class="btn btn-primary btn-block" type="submit" value="ContactMe">Contact Me</button></div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}