<main class="page lanidng-page">
    <section class="portfolio-block block-intro" style="height: 652px;">
        <div class="container">
            <div class="avatar" style="background-image: url(&quot;../assets/img/avatars/47089207.png&quot;);"></div>
            <div class="about-me">
                <p>Student of Warsaw University of Technology</p><a class="btn btn-outline-primary" role="button" href="projects-featured.html">Browse my projects</a>
            </div><strong>OR</strong>
            <div><a class="btn btn-outline-primary" role="button" href="contact-me.html">Contact me</a></div>
        </div>
    </section>
    <section class="portfolio-block skills">
        <div class="container">
            <div class="heading">
                <h2 data-aos="fade-up" data-aos-duration="450">Special Skills</h2>
            </div>
            <div class="row">
                <div class="col-md-4" data-aos="fade-up" data-aos-duration="550">
                    <div class="card special-skill-item border-0">
                        <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"></i></div>
                        <div class="card-body">
                            <h3 class="card-title">Web Design</h3>
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-up" data-aos-duration="650">
                    <div class="card special-skill-item border-0">
                        <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline"></i></div>
                        <div class="card-body">
                            <h3 class="card-title">Interface Design</h3>
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-up" data-aos-duration="750">
                    <div class="card special-skill-item border-0">
                        <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"></i></div>
                        <div class="card-body">
                            <h3 class="card-title">Photography and Print</h3>
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<div class="highlight-blue">
    <div class="container" data-aos="zoom-in" data-aos-duration="400">
        <div class="intro">
            <h2 class="text-center">My current project</h2>
            <p class="text-center">You can see it on your screen right now!</p>
        </div>
        <div class="buttons"><a class="btn btn-primary flex-fill" role="button" href="https://github.com/D3AD-E/WebsiteShowcase">github page</a></div>
    </div>
</div>
