@{
    ViewBag.Title = "404";
}

<div class="container-fluid pt-lg-5">
    <div class="text-center mt-5">
        <div class="error mx-auto" data-text="404">
            <p class="m-0"><strong>404</strong></p>
        </div>
        <p class="text-dark mb-5 lead">Page Not Found</p>
        <a asp-controller="Home" asp-action="Index">← Back to Dashboard</a>
    </div>
</div>