<main class="page projects-page"></main>
<div class="projects-horizontal">
    <div class="container">
        <div class="intro" style="width: 531px;">
            <h2 class="text-center" style="width: 531px;">Featured projects </h2>
            <p class="text-center" style="width: 531px;">The following projects took me a lot of time and effort, so check them out!</p>
        </div>
        <div class="row projects">
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="/assets/img/featured/blackjack-poker-cards-two-aces-260nw-281437508.png" style="filter: sepia(0%);"></a></div>
                    <div class="col">
                        <h3 class="name">Texas Holdem</h3>
                        <p class="description">Play Texas Holdem with your friends online, uses LAN connection.<br></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="/assets/img/featured/hexadecimal.png"></a></div>
                    <div class="col">
                        <h3 class="name">Hex Editor</h3>
                        <p class="description">Classical hex editor with a few additions for debugging. Compatible with OllyDbg.<br></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="/assets/img/featured/1%20mIjIjWIUc45MQjLDVkOC-w.png"></a></div>
                    <div class="col">
                        <h3 class="name">Tic Tac Toe Bot</h3>
                        <p class="description">Play Tic Tac Toe in your Discord guild. Try to beat your friends winstreak!<br></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="/assets/img/featured/scraper.png"></a></div>
                    <div class="col">
                        <h3 class="name">Screen Scraper</h3>
                        <p class="description">Gets info from screen, useful for bot creators, quick export of pixel info (color, position).<br></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="btn-btn-proj"><a class="btn btn-primary" role="button" asp-area="" asp-controller="Projects" asp-action="All">My other projects</a></div>
    </div>
</div>