@model Website.Models.ViewModels.ProjectViewModel

@{
    ViewData["Title"] = "Project";
    var link = string.Empty;
    if (!string.IsNullOrEmpty(Model.ImageLink))
    {
        link = "/assets/img/projects/" + Model.ImageLink;
    }
    else
    {
        link = "/assets/img/core/broken.png";
    }
    foreach (var id in Model.OtherProjects.Keys.ToList())
    {
        if (!string.IsNullOrEmpty(Model.OtherProjects[id]))
        {
            Model.OtherProjects[id] = "/assets/img/projects/" + Model.OtherProjects[id];
        }
        else
        {
            Model.OtherProjects[id] = "/assets/img/core/broken.png";
        }
    }
}

<main class="page project-page">
    <section class="portfolio-block project">
        <div class="container">
            <div class="heading">
                <h2>@Model.Name</h2>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 offset-md-1 info">
                    <h3>Description</h3>
                    <p>@Html.Raw(Model.Description)</p>
                </div>
                <div class="col-12 col-md-3 offset-md-1 meta">
                    <div class="tags"><span class="meta-heading">Tags</span><a asp-controller="Projects" asp-action="Filter" asp-route-language=@Model.LanguageTag>@Model.LanguageTag</a></div>
                </div>
            </div><img src=@link style="width: 1114px;">
            <div class="more-projects">
                <h3 class="text-center">More Projects</h3>
                <div class="row gallery">
                    @foreach(var valuePair in Model.OtherProjects)
                    {
                    <div class="col-md-4 col-lg-3">
                        <div class="item"><a a asp-controller="Projects" asp-action="Project" asp-route-id=@valuePair.Key><img class="img-fluid scale-on-hover" src=@valuePair.Value></a></div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </section>
</main>